        <div id="banner">
            <div id="banner_contain"><!--Flex container-->
                <div class="banner_box"></div><!--Flex item one-->
                <div class="banner_box">
                    <section id="profile_signup">
                        <h2>Minneapolis Upscale Luxury Apartment Guide</h2>
                        <p>The only site where apartments provide you with thier best offer based on your preferences</p>
                        <form class="general_form" action="/authentication" method="POST">
                            
                            <label>First Name: </label> <input type="text" maxlength="30" id="first"  name="fname">
                            <label>Last Name: </label> <input type="text" maxlength="30" id="last"  name="lname">
                            <label>Email: </label> <input type="text" id="email" maxlength="30" >
                            <label>Preferred Move-in Month:</label> <input type="month" id="preferred_month" name="move_in">
                            <label>Preferred Rent Range:</label>
                            <select name="rent_range" id="rent_range">
                                <option value="1">$650 - $999</option>
                                <option value="2">$1000 - $1399</option>
                                <option value="3">$1400 - $1599</option>
                                <option value="4">$1600 - $1999</option>
                                <option value="5">$2000 - $2499</option>
                                <option value="6">$2500 - $2999</option>
                                <option value="7">$3000 - $3499</option>
                                <option value="8">$3500 - $3999</option>
                                <option value="9">$4000 - $4999</option>
                                <option value="10">$5000+</option>
                            </select> 
                         
                            <button type="submit" id="submit">Create Free Profile</button>
                        </form>
                    </section>
                </div><!--Flex item two-->
            </div>
        </div>   
        <div id="grid_container">
            <div id="tb_graphic_one">
                <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1224 220"><defs><style>.cls-1{fill:#111;}.cls-2{font-size:26px;fill:#fff;font-family:Montserrat-Regular, Montserrat;}.cls-3{letter-spacing:0em;}.cls-4{letter-spacing:-0.01em;}.cls-5{letter-spacing:0em;}.cls-6{letter-spacing:0.01em;}.cls-7{letter-spacing:0em;}.cls-8{letter-spacing:0em;}.cls-9{letter-spacing:-0.02em;}.cls-10{letter-spacing:-0.02em;}.cls-11{letter-spacing:-0.01em;}</style></defs><title>Artboard 1</title><polygon class="cls-1" points="0 126 687 126 642 208 0 208 0 126"/><polygon class="cls-1" points="730 126 683 208 714 208 761 126 730 126"/><polygon class="cls-1" points="764 126 717 208 788 208 841 126 764 126"/><polygon class="cls-1" points="844 126 790.5 208 817 208 868 126 844 126"/><text class="cls-2" transform="translate(47 173)">W<tspan class="cls-3" x="28.89" y="0">h</tspan><tspan x="46.54" y="0">e</tspan><tspan class="cls-4" x="62.24" y="0">r</tspan><tspan x="72.33" y="0">e a</tspan><tspan class="cls-5" x="110.19" y="0">p</tspan><tspan x="127.74" y="0">a</tspan><tspan class="cls-6" x="143.08" y="0">r</tspan><tspan x="153.89" y="0">t</tspan><tspan class="cls-7" x="164.45" y="0">m</tspan><tspan class="cls-8" x="192.09" y="0">ents ma</tspan><tspan class="cls-9" x="298.4" y="0">k</tspan><tspan class="cls-8" x="313.48" y="0">e </tspan><tspan class="cls-10" x="335.99" y="0">y</tspan><tspan class="cls-8" x="349.7" y="0">ou an of</tspan><tspan class="cls-11" x="455.18" y="0">f</tspan><tspan x="463.76" y="0">er</tspan></text></svg>
            </div>
            <div id="upscale">
                <section class="grid_box upscale_img">
                    <h3>Upscale</h3>
                    <p>The very best that Downtown Minneapolis has to offer.</p>
                </section>
            </div>
            <div id="luxury">
                <section class="grid_box luxury_img">
                    <h3>Luxury</h3>
                    <p>Discover Our Extraordinary Luxury Apartments.</p>
                </section>
            </div>
            <div id="elegant">
                <section class="grid_box elegant_img">
                    <h3>Elegant</h3>
                    <p>This is sample text to demonstrate text on hover.</p>
                </section>
            </div>
            <div id="tb_graphic_two">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="-370 0 1224 82"><defs><style>.cls-1{fill:#111;}.cls-2{font-size:26px;fill:#fff;font-family:Montserrat-Regular, Montserrat;}.cls-3{letter-spacing:0em;}.cls-4{letter-spacing:0.02em;}.cls-5{letter-spacing:0em;}.cls-6{letter-spacing:0em;}.cls-7{letter-spacing:0em;}.cls-8{letter-spacing:-0.02em;}.cls-9{letter-spacing:-0.01em;}</style></defs><title>bottom_graphic</title><polygon class="cls-1" points="868 82 181 82 226 0 868 0 868 82"/><polygon class="cls-1" points="138 82 185 0 154 0 107 82 138 82"/><polygon class="cls-1" points="104 82 151 0 80 0 27 82 104 82"/><polygon class="cls-1" points="24 82 77.5 0 51 0 0 82 24 82"/><text class="cls-2" transform="translate(331.11 49.29)">A<tspan class="cls-3" x="18.64" y="0">p</tspan><tspan x="36.19" y="0">a</tspan><tspan class="cls-4" x="51.53" y="0">r</tspan><tspan x="62.35" y="0">t</tspan><tspan class="cls-5" x="72.9" y="0">m</tspan><tspan x="100.54" y="0">ents in t</tspan><tspan class="cls-5" x="205.89" y="0">h</tspan><tspan class="cls-6" x="223.54" y="0">e </tspan><tspan class="cls-7" x="246.06" y="0">h</tspan><tspan class="cls-8" x="263.71" y="0">e</tspan><tspan x="279.03" y="0">a</tspan><tspan class="cls-4" x="294.37" y="0">r</tspan><tspan x="305.18" y="0">t of t</tspan><tspan class="cls-7" x="365.03" y="0">h</tspan><tspan x="382.69" y="0">e ci</tspan><tspan class="cls-9" x="426.83" y="0">t</tspan><tspan x="437.13" y="0">y</tspan></text></svg>
            </div>
        </div><!--End of grid container-->
        <section id="apartment_search_block">
            <h3 style="line-height: 0px; padding: 30px 0px;">Search Luxury Apartments</h3>
            <div id="filter">
                <label> Select city region<br><br>
                    <select  id="region" onchange="getByRegion(this.value)">
                        <option value="all">Please select region</option>
                        <option value="Downtown West">Downtown West</option>
                        <option value="Downtown East">Downtown East</option>
                        <option value="Downtown North">Downtown North</option>
                        <option value="Downtown South">Downtown South</option>
                    </select>
                </label>

                <label>Select Floor preference <br><br>
                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </label>
            </div>
            <div id="apartment_container">

                <aside class="apart_struct">
                    <div id="apart_boxes">
                        <img src="images/apartment_logo/NicLogoBlack_logo.png" class="apart_logo" data-id="2"  data-region="Downtown West" id="nic" alt="nic on fifth logo" >
                        <img src="images/apartment_logo/nicolete_365.png" style="filter: invert(100%);" class="apart_logo" data-id="1" data-region="Downtown West" id="nicolette" alt="nicolette 365 logo">
                        <img src="images/apartment_logo/nordhaus-logo.png" class="apart_logo" data-id="3" data-region="Downtown North" id="nordhaus" alt="nordhaus logo">
                        <img src="images/apartment_logo/latitude_logo1.png" style="filter: invert(100%);" class="apart_logo" data-id="4" data-region="Downtown West" id="latitude" alt="latitude 45 logo">
                        <img src="images/apartment_logo/encorempls.jpg" style="filter: invert(100%);" class="apart_logo" data-id="5" data-region="Downtown East" id="encore" alt="encore logo">
                        <img src="images/apartment_logo/4Marq_Logo.png" style="" class="apart_logo" data-id="6" data-region="Downtown East" id="4marq" alt="4 Marq logo">
                        <img src="images/apartment_logo/hq_apartments.png" style="filter: invert(100%);" class="apart_logo" data-id="7" data-region="Downtown East" id="hq" alt="HQ apartment logo">
                    </div>
                </aside>
                <aside class="apart_struct">
                    <div id="map">

                    </div>
                </aside>
            </div>
        </section>
        <div id="testimonial">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="-370 0 1224 82"><defs><style>#testimonial .cls-1{fill:#111;}#testimonial .cls-2{font-size:46px;fill:#fff;font-family:Montserrat-Regular, Montserrat;}#testimonial .cls-3{letter-spacing:-0.05em;} #testimonial .cls-4{letter-spacing:0em;}#testimonial .cls-5{letter-spacing:0em;}</style></defs><title>page_bottom_testimonial</title><polygon class="cls-1" points="868 82 181 82 226 0 868 0 868 82"/><polygon class="cls-1" points="138 82 185 0 154 0 107 82 138 82"/><polygon class="cls-1" points="104 82 151 0 80 0 27 82 104 82"/><polygon class="cls-1" points="24 82 77.5 0 51 0 0 82 24 82"/><text></text><text class="cls-2" transform="translate(392 57)"><tspan class="cls-3">T</tspan><tspan class="cls-4" x="23.87" y="0">esti</tspan><tspan class="cls-5" x="105.2" y="0">m</tspan><tspan x="154.1" y="0">onial</tspan></text></svg>
            <div class="main-carousel" class="carousel" data-flickity='{ "autoPlay": true }'>
                <div class="carousel-cell">
                    <section class="test_qoute">
                        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                            sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco.</h2>
                    </section>
                </div>
                <div class="carousel-cell">
                    <section class="test_qoute">
                        <h2>Amazing Apartments! Reasonable Prices! Friendly Staff!
                            <br>
                            -John Doe
                        </h2>
                    </section>
                </div>
                <div class="carousel-cell">
                    <section class="test_qoute">
                        <h2>Amazing service.</h2>
                    </section>
                </div>
                
              </div>

        </div>
